*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: #f4f5f6;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
}
